.uk-container {
    padding: 0;
}
h1, h2, h3, p {
    font-family: 'Dongle', sans-serif;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5.5rem;
}
h3 {
    font-size: 5rem;
}
p {
    font-size: 3rem;
}
.side-nav {
    background-color: #17336a;
}

.side-nav .info-title {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.side-nav .info-content {
    color: white;
    margin: 30px 15px;
    font-size: 2.5rem;
    line-height: 1.2;
}

.attention {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.3rem;
}
.price {
    text-align: right;
    font-size: 3.3rem;
}

.price .before {
    color: #ddd;
    text-decoration: white line-through;
    text-decoration-thickness: 2px;
}

.price .after {
    color: yellow;
}

.event-close {
    color: chartreuse;
}
